= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.email_field :email, autofocus: true, autocomplete: "email",class:"mdl-textfield__input"
    = f.label :email,class:"mdl-textfield__label grey-text"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    = f.password_field :password, autocomplete: "current-password",class:"mdl-textfield__input"
    = f.label :password,class:"mdl-textfield__label grey-text"
  .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    - if devise_mapping.rememberable?
      = f.check_box :remember_me
      = f.label :remember_me


  .top-space
    .row.text-left.middle-xs
      .col-xs-12.col-md-6
        =f.submit "Log in",class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
    